* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  overflow: hidden;
}

/* .content {
  height: 100%;
} */

/* transection page */
.transaction-page {
  width: 100%;
  height: 113vh;
}

.transaction-page .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 10px;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .transaction-page {
    width: 120%;
    height: 160vh;
  }
  .transaction-page .content {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .transaction-page {
    width: 160%;
    height: 160vh;
  }
  
}

/* transection page css end */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
  padding-top: 5px;
  background-color: white;
}

.anticon svg {
  font-size: 15px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}

/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 40px;
  margin-top: 76px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer .text-center {
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* .footer {
  
} */

.responsive-btn {
  background-color: white;
}

.page-not-found {
  font-weight: bold;
}

.email-sent-page {
  padding-top: 30px;
  margin-left: 40%;
}
