.about {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container {
  width: 85%;
  height: 70%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 1px 1px 8px #344265;
}
.about-container .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-container .about-content .left-side {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.about-content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #64646a;
}
.about-content .left-side .details {
  margin: 14px;
  text-align: center;
}
.about-content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.about-content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.about-content .left-side .details .text-one,
.about-content .left-side .details .text-two {
  font-size: 14px;
  color: #8f8f97;
}
.about-content .left-side .icons svg {
  font-size: 20px;
  color: #3e2093;
}
.about-container .about-content .right-side {
  width: 75%;
  margin-left: 75px;
}
.about-content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.about-content .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.about-content .right-side .input-box input,
.about-content .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #e0e4f9;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.about-content .right-side .message-box {
  min-height: 110px;
}
.about-content .right-side .input-box textarea {
  padding-top: 6px;
}

.about-content .right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.about-content .button button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.about-content .button button:hover {
  background-color: green;
  color: white;
}

@media (max-width: 950px) {
  .about {
    height: 100%;
  }
  .about-container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .about-container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .about {
    height: 100%;
  }
  .about-container {
    margin: 40px 0;
  }
  .about-container .about-content {
    flex-direction: column-reverse;
  }
  .about-container .about-content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-container .about-content .left-side::before {
    display: none;
  }
  .about-container .about-content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
