.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-password-form {
  background-color: #b9bcccb6;
  margin-left: 30%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #344265;
}

.forgot-password-form h3 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #344265;
}

.forgot-password-form p {
  text-align: center;
  color: rgb(71, 68, 68);
  /* margin-bottom: 30px; */
  font-family: "Roboto", sans-serif;
}

.forgot-password-form a {
  color: blue !important;
}

.forgot-password-form a:hover {
  color: black !important;
}

.forgot-password-form button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.forgot-password-form input {
  border-radius: 5px;
}
.forgot-password-form .pass-input {
  border-radius: 5px;
}

.forgot-password-form button:hover {
  background-color: green;
  color: white;
}

.forgot-password-form .text {
  color: #3a3465 !important;
}

.loading-text {
  margin-top: 20px;
}

.forgot-password-form .btn {
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
}
