.navbar .navbar-brand {
  /* color: #6f4e37 !important; */
  color: lightcyan !important;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 10px;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
}

.navbar .nav-item {
  margin-right: 20px;
}

.navbar .nav-link .login-btn {
  background: #e3f2fd;
  color: black;
  margin-left: "10px";
}

.navbar .nav-link .login-btn:hover {
  background: #c4d2dc;
  color: black;
}

.navbar .nav-link .register-btn {
  background: #2196f3;
  color: white;
}

.navbar .nav-link .register-btn:hover {
  background: #125dce;
  color: white;
}

.navbar .user-home-btn a {
  color: white;
  padding: 10px;
}

.navbar .user-home-btn:hover a {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
