.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: #b9bcccb6;
  margin-left: -15px;
  padding: 30px;
}

.login-form h2 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: #344265;
  text-decoration: underline;
}

.login-form a {
  color: blue !important;
}

.login-form a:hover {
  color: black !important;
}

.login-form button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.login-form input {
  border-radius: 5px;
}
.login-form .pass-input {
  border-radius: 5px;
}

.login-form button:hover {
  background-color: green;
  color: white;
}

.login-form .text{
  color: #3a3465 !important;
  text-decoration: underline;
}

.login-form .btn {
  margin-top: 10px;
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
}