.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.register-form {
  background-color: #b9bcccb6;
  margin-left: -15px;
  padding: 30px;
}

.register-form h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  color: #344265;
  text-decoration: underline;
}

.register-form a {
  color: blue !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.register-form input {
  border-radius: 5px;
}
.register-form .pass-input {
  border-radius: 5px;
}

.register-form button:hover {
  background-color: green;
  color: white;
}

.register-form .text {
  color: #3a3465 !important;
}

.link1 {
  text-decoration: underline;
}
.link1:hover {
  text-decoration: underline;
}

.register-form .btn {
  margin-top: 20px;
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
}