.register-content {
  height: 100vh;
  width: 100%;
}
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;
}

.register-form {
  background-color: #b9bcccb6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #344265;
}

.register-form h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  color: #344265;
}

.register-form .header-name {
  border-bottom: 2px solid #344265;
}

.register-form a {
  color: blue !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.register-form input {
  border-radius: 5px;
}
.register-form .pass-input {
  border-radius: 5px;
}

.register-form button:hover {
  background-color: green;
  color: white;
}

.register-form .text {
  color: #3a3465 !important;
  text-decoration: underline;
}

.link1 {
  text-decoration: underline;
}
.link1:hover {
  text-decoration: underline;
}

.register-form .btn {
  margin-top: 10px;
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
}
