.register-content {
  height: 120vh;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
}

.register-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #344265;
}

.register-form h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  color: #344265;
}

.register-form .header-name {
  border-bottom: 2px solid #344265;
}

.register-form a {
  color: blue !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #344265;
  color: white;
  outline: none;
  width: 100%;
}

.register-form input {
  border-radius: 5px;
}
.register-form .pass-input {
  border-radius: 5px;
}

.register-form button:hover {
  background-color: green;
  color: white;
}

.register-form .text {
  color: #3a3465 !important;
  text-decoration: underline;
}

.link1 {
  text-decoration: underline;
}
.link1:hover {
  text-decoration: underline;
}

.register-form .text {
  color: #3a3465 !important;
  text-decoration: underline;
}

.register-form .btn {
  margin-top: 10px;
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
}

.register-form .line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: black;
}
.register-form .line::before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 0 15px;
}

.register-form .goole img {
  width: 5px;
  height: 5px;
  object-fit: cover;
}

/* .register-form .goole .google-btn {
  margin-top: 10px;
  width: 100%;
  background-color: #344265;
  color: white;
  outline: none;
} */

/* .media-options {
  border-radius: 5px;
  border: 1px solid #bdbaba;
}
*/

/* .media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
} */

/* .media-options a img {
  width: 20px;
  height: 20px;
  position: relative; 
   right: 5rem;
  margin-right: 100px;
} */

/* img.google-img {
  position: relative;
  right: 100px;
} */

/* img.google-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
} */

/* a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
  margin-right: 100px;
}  */
